.wrapper {
  width: 340px;
  height: 540px;
  padding: 10px;
  border-radius: 10px;
  background-color: #dedede;
  /* background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
}
.screen {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #766767;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.buttonBox {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}
.calButton {
  border: none;
  background-color: rgb(116, 113, 134) !important;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

.calButton:hover {
  background-color: rgb(61, 43, 184) !important;
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(24, 39, 208) !important;
  color: aliceblue;
}

.equals:hover {
  background-color: rgb(25, 6, 111) !important;
}
